.toggle-input {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-input:checked+.toggle-label {
    background-color: rgb(0, 0, 0);
}

.toggle-label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.2s;
}

.toggle-input:checked+.toggle-label::before {
    left: calc(100% - 20px)
}


