html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato" sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
    background-image: url(Images/nature1.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(Images/nature2.jpg);
    min-height: 100%;
}
.pimg3{
    background-image: url(Images/nature3.jpg);
    min-height: 100%;
}

.pimg1, .pimg2, .pimg3{

    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.textBg{
    background-color: rgb(0, 0, 0);
    color: white;
}
.section{
    padding: 50px 80px;
    text-align: center;
}

.section-light{
    background-color: white;
    color: rgb(10, 10, 10);
}

.section-dark{
    color:white;
    background-color: black;
}

.section-dark2{
    background-color: #666;
    color: white;
}

nav{
    width: 100%;
    background-color: rgb(127, 30, 219);
    display:block;
    justify-content: space-between;
    align-items:center;
    padding: 8px 10px;
}

nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
}

nav ul li{
    list-style:circle;
    padding: 0px 15px;
}

nav ul li a{
    color: white;
    font-size: 20px;
}

a:hover{
    background-color: rgb(219, 239, 199);
    margin: 20px;
    margin-top: 20px;
    font-style: italic;
}

